<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<title>
		Cadastro de Contas
	</title>
	<header>
	    <hr>
		<h1>
			Cadastro de Contas
		</h1>
		<hr>
	</header>
	<body class = "layout_default">
		<form name = "form" action = "/submeter-conta" onsubmit="return validateForm()">
		<div>
			<label>Conta:<br></label>
			<input type = "text" name="conta"><br>
			<label>Data Vencimento:<br></label>
			<input type = "date" name = "data_vencimento"><br>
			<label>Valor Conta:<br></label>
			<input type="number" min="1" step="any" name = "valor_conta"><br>
			<hr>
			<label>Recorrente:<br></label>
			<input type = "radio" name = "recorrente" id = "recorrente_sim" onclick = "handleRadio(this);" value = "sim" checked="false"> Sim
			<input type = "radio" name = "recorrente" id = "recorrente_nao" onclick = "handleRadio(this);" value = "nao" checked="true"> Não
			<br>
			<div id = "div_recorrente" style = "display : none">
				<label>Os valores são iguais todos os meses?:<br></label>
				<input type = "radio" name = "valor_igual" id = "valor_igual_sim" value = "sim" checked="false"> Sim
				<input type = "radio" name = "valor_igual" id = "valor_igual_nao" value = "nao" checked="true"> Não
				<br>
			</div>
			<hr>
			<label>Parcelado:<br></label>
			<input type = "radio" name = "parcelado" id = "parcelado_sim" onclick = "handleRadio(this);" value = "sim" checked = "false"> Sim
			<input type = "radio" name = "parcelado" id = "parcelado_nao" onclick = "handleRadio(this);" value = "nao" checked = "true"> Não
			<br>
			<div id = "div_parcelado" style="display : none;">
				<label>Qtde parcelas:<br></label>
				<select name = "qtd_parcelas">
					<option value = "NULL">N/A</option>
					<option value = "1">1x parcela</option>
					<option value = "2">2x parcelas</option>
					<option value = "3">3x parcelas</option>
					<option value = "4">4x parcelas</option>
					<option value = "5">5x parcelas</option>
					<option value = "6">6x parcelas</option>
					<option value = "7">7x parcelas</option>
					<option value = "8">8x parcelas</option>
					<option value = "9">9x parcelas</option>
					<option value = "10">10x parcelas</option>
					<option value = "11">11x parcelas</option>
					<option value = "12">12x parcelas</option>
				</select>
				<br>
			</div>
			<hr>
			<label>Categoria:<br></label>
			<select>
				<option value = "outros">Outros</option>
				<option value = "contas_fixas">Contas Fixas</option>
				<option value = "alimentacao">Alimentação</option>
				<option value = "carro">Carro</option>
				<option value = "bethoven">Bethoven</option>
			</select>
			<br>
			<hr>
			<label>Pago:<br></label>
			<input type = "radio" name = "pago" id = "pago_sim" value = "sim", onclick = "handleRadio(this);" checked="true"> Sim
			<input type = "radio" name = "pago" id = "pago_nao" value = "nao", onclick = "handleRadio(this);" checked="false"> Não
			<br>
			<div id = "div_pago" style="display: none;">
				<label>Valor Pago:<br></label>
				<input type = "text" name = "valor_pago"><br><br>
				<label>Data Pagamento:<br></label>
				<input type = "date" name = "data_pagamento"><br><br>
				<label>Pagador:<br></label>
				<select name = "pagador">
					<option value=""></option>
  					<option value="Andre">André</option>
  					<option value="Barbara">Barbara</option>
  					<option value="Mae">Mãe</option>
  					<option value="Beatriz">Beatriz</option>
				</select>
				<br><br>
			</div>
			<hr>
			<input class = "btn_default btn_custom" type = "submit" value = "Enviar">
		</div>
		</form>
	</body>
	<script type="text/javascript">
		function handleRadio(elemento){
			var checked = document.getElementById(elemento.name + "_sim").checked
			if(checked){
				document.getElementById("div_" + elemento.name).style.display = "inline"
			}else{
				document.getElementById("div_" + elemento.name).style.display = "none"
			}
		}

		function validateForm(){
			var response = ""
			myForm = document.forms['form']
			console.log(myForm["pago"].value)
			if (myForm["conta"].value == ""){ response = response + "o campo conta deve ser preenchido\n"}
			if (myForm["data_vencimento"].value == ""){ response = response + "o campo data_vencimento deve ser preenchido\n"}
			if (myForm["valor_conta"].value == ""){ response = response + "o campo valor_conta deve ser preenchido\n"}
			
			if (myForm["parcelado"].value == "true"){
				if (myForm["qtd_parcelas"].value == ""){ response = response + "o campo qtd_parcelas deve ser preenchido\n"}
			}
			if (myForm["pago"].value == "true"){
				if (myForm["data_pagamento"].value == ""){ response = response + "o campo data_pagamento deve ser preenchido\n"}
				if (myForm["valor_pago"].value == ""){ response = response + "o campo valor_pago deve ser preenchido\n"}
				if (myForm["pagador"].value == ""){ response = response + "o campo pagador deve ser preenchido\n"}
			}
			if (response != ""){
				alert(response)
				return false
			}

		}
	</script>
</html>