<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<title>
		HOME
	</title>
	<header>
		<h1 class = "layout_default">
			<b>HOME</b>
		</h1>
		<hr>
	</header>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body class = "layout_default">
	<div>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/cadastrar-conta';">Cadastrar Conta</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/cadastrar-gasto';">Cadastrar Gasto</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/listar-contas';">Listar Contas</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/relatorios';">Relatórios</button><hr>
	</div>
	</body>
</html>