<!DOCTYPE html>
<html>
	<style>
		.btn_default{
			background-color: #303030;
			border: 1px;
			color: red;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 56px;
			border-radius: 45px;
			border: 2px;
		}
		.btn_custom {
  			background-color: #ff0000; 
  			color: black; 
  			border: 2px solid #000000;
  		}

		.btn_custom:hover {
  			background-color: #000000;
  			color: red;
		}
	</style>
	<title>
		HOME
	</title>
	<header>
		<h1 style="color:red">
			<b>HOME</b>
		</h1>
		<hr>
	</header>
	<head>
		<meta name="viewport" content="width=device-width">
	</head>
	<body style = "background-color:#303030">
	<div>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/cadastrar-conta';">Cadastrar Conta</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/cadastrar-gasto';">Cadastrar Gasto</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/listar-contas';">Listar Contas</button><hr>
  		<button class = "btn_default btn_custom" type = "button=" onclick = "location.href='/relatorios';">Relatórios</button><hr>
	</div>
	</body>
</html>