<!DOCTYPE html>
<html>
	<head>
		<script language = "javascript" type = "text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script language = "javascript" type = "text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename = 'js/listar-contas.js') }}"></script>
		<script type="text/javascript">
			$(document).ready( function () {
				var data = {{contas | safe}}
				append_json(data)
			});
		</script>
	</head>
	<title>
		Listar Contas
	</title>
	<header>
		<h1 class = "layout_default">
			<b>Listar Contas</b>
		</h1>
		<hr>
	</header>
	<body class = "layout_default">
		<table name = "tabela" id = "contas_table" class = "contas_table">
			<tr>
				<th> conta </th>
				<th> data_vencimento </th>
				<th> valor_conta </th>
			</tr>
			<tr id = "tr"> 
			</tr>
		</table><br><br>
		<hr>
		<form name = "form" action = "/update-conta">
			<div>
				<label>Conta: </label><br>
				<input type = "text" id = "conta" name = "conta"></label><br><br>
				<label>Data de Vencimento: </label><br>
				<input type = "date" id = "data_vencimento" name = "data_vencimento"><br><br>
				<label>Data de Pagamento: </label><br>
				<input type = "date" id = "data_pagamento" name = "data_pagamento"/><br><br>
				<script>
					document.getElementById('data_pagamento').value = new Date().toISOString().substring(0, 10);
				</script>
				<label>Pagador: </label><br>
				<select name = "pagador">
					<option value=""></option>
	  				<option value="Andre">André</option>
	  				<option value="Barbara">Barbara</option>
	  				<option value="Mae">Mãe</option>
	  				<option value="Beatriz">Beatriz</option>
				</select><br><br>
				<label>Valor Pago: </label><br>
				<input type = "text" id = "valor_pago" name = "valor_pago"><br><br>
				<label>OBS: </label><br>
				<input type = "text" id = "obs" name = "obs"/><br><br>
				<hr>
				<input class = "btn_default btn_custom" type = "submit" value = "Pagar">
			</div>
		</form>
	</body>
</html>